################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Docker
/src/DemoApp/obj
/src/DemoApp/bin
/src/DemoApp/appsettings.Development.json
/bin/*
/obj/*
